<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}} - NoteShare</title>
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
      <header>
        <div class="container">
          <h1 class="header-title">NoteShare</h1>
          <nav class="main-nav">
              <a href="#" class="nav-collapse-button">Menu</a>
              <ul>
                  <li>
                      <a href="/notes">Notes</a>
                  </li>
                  <li>
                      <a href="/register">Register</a>
                  </li>
                  {{#loggedIn}}
                  <li>
                      <a href="/logout">Logout</a>
                  </li>
                  {{/loggedIn}}
                  {{^loggedIn}}
                  <li>
                      <a href="/login">Login</a>
                  </li>
                  {{/loggedIn}}
              </ul>
          </nav>
        </div>
      </header>
        {{{content}}}
        <footer>
          <div class="container">
            Copyright 2015-2016 Douglas Doner
          </div>
        </footer>
        <script src="http://localhost:35729/livereload.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="/assets/js/script.js"></script>
    </body>
</html>
